<div class="center">
  <div class="content">
    <div class="row vert-pad">
      <div class="left padded">
        <h1>Desarrolo con pasión aplicaciones y sitios web para personas</h1>
        <p>Constantemente me encuentro aprendiendo nuevas tecnologías y desarrollando aplicaciones 
          desde cero con Python y Flask! Actualmente descubriendo este mundillo...</p>
      </div>  
      <div class="right padded">
        <h1>Podemos hablar lo que quieras!</h1>
        <p>Sólo envíame un correo <a class="orange" href="#contacto" >pinchando aquí </a></p>
      </div>
    </div>
  </div>
</div>